{{ define "main" }}

<!-- details page -->
<section class="single section bg-gray pb-0">
    <div class="container">
        <div class="row">
            {{ partial "menu/menu.html" . }}
            <div class="col-lg-8">
                <div class="p-5 bg-white">
                    <h2>{{ .Title }}</h2>
                    <div class="bg-gray p-4">
                        <h3 class="mt-0">Article</h3>
                        <ul class="list-unstyled">
                            {{ range .Data.Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /details page -->

{{ end }}
