{{ define "main" }}

<!-- details page -->
<section class="single pt-5 bg-gray">
  <div class="container">
    <div class="row">
        {{ partial "menu/menu.html" . }}

      <div class="col-lg-8">
        <div class="p-5 bg-white">
            <h1 class="title">{{ .Title }}</h1>
            <div class="doc-content list-styled">
              {{ .Content }}
            </div>

            <p class="post-meta border-bottom pb-3 mb-0">Updated on {{ .PublishDate.Format "02 Jan 2006" }}</p>

            <nav class="pagination mt-3">

                {{ if .NextInSection }}
                <a class="nav nav-prev" href="{{ .NextInSection.Permalink | relLangURL }}"
                   title="{{ .NextInSection.Title }}">
                    <i class="ti-arrow-left mr-2"></i>{{ .NextInSection.Title }}
                </a>
                {{ end }}

                {{ if .PrevInSection }}
                <a class="nav nav-next" href="{{ .PrevInSection.Permalink | relLangURL }}"
                   title="{{ .PrevInSection.Title }}">
                    {{ .PrevInSection.Title }} <i class="ti-arrow-right ml-2"></i>
                </a>
                {{ end }}
            </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

{{ end }}
