<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.10.4/jquery-ui.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.14.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
  docsearch({
    // Your apiKey and indexName will be given to you once
    // we create your config
    appId: '{{ .Site.Params.algolia_appId }}',
    apiKey: '{{ .Site.Params.algolia_apiKey }}',
    indexName: '{{ .Site.Params.algolia_indexName }}',
    // Replace inputSelector with a CSS selector
    // matching your search input
    inputSelector: '#search',
    // Set debug to true if you want to inspect the dropdown
    debug: false,
  });
</script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.RelPermalink }}"></script>
