<div>
    <script type="text/template" id="my-search-box">
        <div class="my-search-box">
        </div>
    </script>
    <style>
        .algolia-autocomplete {
            width: 100%;
        }
        .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
            width: 100%;
        }
        .algolia-autocomplete .aa-hint {
            color: #999;
        }
        .algolia-autocomplete .aa-dropdown-menu {
            width: 100%;
            background-color: #fff;
            border: 1px solid #999;
            border-top: none;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
            cursor: pointer;
            padding: 5px 4px;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
            background-color: #B2D7FF;
        }
        .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
            font-weight: bold;
            font-style: normal;
        }

        .branding {
            font-size: 1.3em;
            margin: 0.5em 0.2em;
        }

        .branding img {
            height: 1.3em;
            margin-bottom: -0.3em;
        }
    </style>
    <script>
      const client = algoliasearch({{ .Site.Params.algolia_appId }}, {{ .Site.Params.algolia_apiKey }});
      const index = client.initIndex({{ .Site.Params.algolia_indexName }});

      $('#search').autocomplete({
          templates: {
            dropdownMenu: '#my-search-box',
            footer: `<div class="branding">Powered by <img src="https://www.algolia.com/static_assets/images/press/downloads/algolia-logo-light.svg" /></div>`,
          },
        },
        [{
          source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
          templates: {
            suggestion: function (suggestion) {
              return '<span class=\'entry ' + suggestion.type + '\'>'
                + '<span class=\'title\'>' + suggestion.title + '</span>'
                + '<span class=\'fa fa-fw ' + suggestion.iconClass + '\'></span>'
                + '</span>'
                ;
            },
            empty: function () {
              return '<span class=\'empty\'></span>';
            },
          },
        }])
        .on('autocomplete:selected', function (event, suggestion, dataset) {
          window.location = (suggestion.url);
        })
        .keypress(function (event, suggestion) {
          if (event.which == 13) {
            window.location = (suggestion.url);
          }
        });
    </script>
</div>
