<div class="col-lg-4">
    <div class="mb-5 bg-white p-4 sticky-top">
        <nav class="sidebar-menu">
            <ul class="list-styled">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ range .Children }}
                    {{ $relatedPage := $currentPage.Site.GetPage .URL }}
                    {{ if and $relatedPage.Pages ($currentPage.IsDescendant $relatedPage) }}
                        <h5>{{ .Pre }}<span>{{ .Name }}</span></h5>
                        <ul class="sub-menu">
                            {{ range $relatedPage.Pages }}
                            <li class="{{ if eq $currentPage.URL .URL }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                        {{ $firstPage := index ($relatedPage.Pages) 0 }}
                        <h5><a href="{{ $firstPage.URL | default .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a></h5>
                    {{ end }}
                {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
